<!DOCTYPE html>
<html>
<head>
  <title>TicketSocket</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.1.2/ui-bootstrap-tpls.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-animate.js"></script>
  <script src="https://js.stripe.com/v2/"></script>
  <script src="default.js"></script>
</head>
<body ng-app="ticketSocket">
  <div ng-controller="buyTicketsModal">
    <script type="text/ng-template" id="buyTicketsModalContent.html">
      <div ui-view>
        <div class="modal-header">
          <h3 class="modal-title">Welcome to YOURNAMESocket, select an event to buy your tickets.</h3>
        </div>
        <div class="modal-body">
          <form name="chooseEvent" ng-submit="submit()">
            <select name="eventSelect" id="eventSelect" class="form-control" ng-model="eventSelection.selected">
              <option value="" disabled selected>Please select an event</option>
              <option ng-repeat="events in eventSelection.list.data" value="{{events.id}}">{{events.title}}</option>
            </select>
          </form>
        </div>
        <div class="modal-footer">
          <a ui-sref="ticketType" class="btn btn-primary" type="button" ng-disabled="!eventSelection.selected">Proceed</a>
          <a ui-sref="home" class="btn btn-warning" type="button" ng-click="cancel()">Cancel</a>
        </div>
      </div>
    </script>
    <button id="buyTickets" class="btn btn-lg btn-primary center-block" ng-click="open()">Buy Tickets</button>
  </div>
</body>
</html>