<div ng-controller="TicketTypeCtrl">
<div class="modal-header">
  <a ui-sref="home">Home</a> > Select ticketTypes
</div>
<div class="modal-body">
  <p class="h4">Select your ticket type and quantity</p>
  <form name="chooseTicketTypes">
    <p ng-repeat="types in ticketTypes.data">
      {{types.name}} x ${{types.price}} x 
      <select name="{{types.name}}" class="form-inline" ng-model="types.amount" ng-options="amount for amount in [0,1,2,3,4,5,6,7,8,9,10]">
      </select>
    </p>
    Total Cost: ${{getTotal()}}
  </form>
</div>
<div class="modal-footer">
  <button ui-sref="checkout" class="btn btn-primary" type="button" ng-disabled="!getTotal()">Proceed</button>
  <button ui-sref="home" class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
</div>