<div ng-controller="TicketTypeCtrl">
<div class="modal-header">
  <h3 class="modal-title">Select your ticket type and quantity</h3>
</div>
<div class="modal-body">
  <form name="chooseTicketTypes">
    <p ng-repeat="types in ticketTypes.data">
      {{types.name}}
      <select name="{{types.name}}" class="form-inline" ng-model="PLACEHOLDER">
        <option value="0"selected>0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
    </p>
  </form>
</div>
<div class="modal-footer">
  <a ui-sref="checkout" class="btn btn-primary" type="button" ng-disabled="!selectedEvent">Proceed</a>
  <a ui-sref="home" class="btn btn-warning" type="button" ng-click="cancel()">Cancel</a>
</div>
</div>